<section class="login">
  <div class="row container">
    <div class="col-lg-6 col-md-12">
      <img [src]="image" alt="login">
    </div>
    <div class="col-lg-6 col-md-12">

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" placeholder="Enter your email" ngModel name="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" placeholder="Enter your password" ngModel name="password" class="form-control"
            id="exampleInputPassword1">

        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
      </form>
      <a routerLink="/signup">New user? Click to signup</a>



    </div>

  </div>
</section>