.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 500px;
}
a{
    /* color: #000; */
    text-decoration: none;
    padding: 1rem 0;
}
form{
    background: #30336b;
    padding: 3rem 3rem;
}
form label{
    color: #FAFAFA;
}
textarea{
    resize: none;
}
@media (max-width:767px) {
    .contact{
        flex-direction: column;
        justify-content: space-around;
    }
    img{
        width: 300px;
    }

    
}