@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Open+Sans:wght@600&family=Roboto:wght@500;700&family=Rubik:wght@400;500;600;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
nav{
    background: #0fb9b1;
}
nav a{
    color: #fff;
}
nav ul li a{
    color: #fff;
}
