<section class="homePage">
    <div class="row container">
      <div class="col-lg-6 col-md-12">
        <div class="landingText">
          <h3>Getting started with Angular</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, dolore. Quae iste temporibus quaerat ut.
            Nesciunt possimus, quia vitae temporibus rem ipsam et sed, tempora quaerat dolorem molestiae ab quam.
          </p>
  
        </div>
        <div class="d-flex">
          <button class="btn btn-sm btn-primary">Know More!</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="landingImage">
          <img src="https://source.unsplash.com/720x600/?fitness,gym" alt="Fitness">
        </div>
      </div>
  
    </div>
  </section>